.profile {
  max-width: 1138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 40px auto 50px;
}

@media (max-width: 768px) {
  .profile {
      flex-direction: column;
  }
}