.place-card__like-icon {
    background: url(../../../images/like.svg) center no-repeat;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 19px;
    cursor: pointer;
    transition: ease-in;
  }
  
  
  .place-card__like-icon:hover {
    opacity: .5;
    transform: scale(1.03);
  }