.user-info__edit {
    width: 24px;
    height: 24px;
    margin: 19px 0 0 19px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    background: url(../../../images/Vector-2.png) no-repeat 50%/10px 10px #000;
}

.user-info__edit:hover {
    opacity: .5;
    transition: ease-in-out;
    color: black;
}

@media screen and (max-width: 368px) {

.user-info__edit {
    width: 18px;
    margin: 10px 14px;
    height: 18px;
  }
}