.user-info__button {
  position: static;
  margin-top: -75px;
  background: url(../../../images/Vector-3.png) no-repeat 50%/22px 22px #000;
}

@media screen and (max-width: 368px) {
  .user-info__button {
    position: static;
    margin: 0 0 36px;
  }
}