.user-info__job {
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 25px;
  }  

@media screen and (max-width: 368px) {

.user-info__job {
  width: 282px;
  height: 14px;
  left: 19px;
  top: 312px;
  margin: 14px auto;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  }
}