.footer__copyright {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 619px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}

.footer {
    margin: 66px auto 60px;
    max-width: 882px;
}
@media screen and (min-width: 320px) {
    .footer {
        margin: 48px 19px 36px;
    }
}

